# Editor
.vscode

# Node.js
/**/node_modules

# npm
npm-debug.log*

# Yarn
.yarn/*
!.yarn/releases
yarn-debug.log*
yarn-error.log*

# Env files
/**/.env

# Build files
/**/dist

# Testing
/**/coverage

# Next.js
/**/.next/
